.App {
  text-align: center;
  background: url(./img/yellow.jpg);
  background-size: cover;
}

.navbar-logo{
  display: inline;
}
.navbar span{
  opacity: 0.8;
}
.navbar span, .navbar a{
  font-size: 2rem;
  font-weight: bold;
}

.cards{
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.user-card{
  border: 5px blueviolet;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.user-img{
  height: 100px;
  width: 100px;
}

/* Footer */
.footer {
	padding-top: 6rem;
	padding-bottom: 3rem;
	background: linear-gradient(#ffffff, #febf18);
	text-align: center;
}

.footer a {
	text-decoration: none;
}

.footer h4 {
	margin-bottom: 1.875rem;
}

.footer .fa-stack {
	width: 2em;
	margin-bottom: 1.25rem;
	margin-right: 0.375rem;
	font-size: 1.5rem;
}

.footer .fa-stack .fa-stack-1x {
  color: #252c38;
	transition: all 0.2s ease;
}

.footer .fa-stack .fa-stack-2x {
	color: #ffffff;
	transition: all 0.2s ease;
}

.footer .fa-stack:hover .fa-stack-1x {
	color: #ffffff;
}

.footer .fa-stack:hover .fa-stack-2x {
    color: #252c38;
}

/*     Copyright     */

.copyright {
	padding-top: 1.5rem;
	background-color: #febf18;
	text-align: center;
}

.copyright a {
	text-decoration: none;
  color: #ffffff;
}
.copyright .nav-link, .copyright span{
  color: #ffffff;
}

.menu ul{
  display: inline-flex;
}
.menu-item{
  padding: 5px 10px;
}
.row{
  margin-right: 0;
  margin-left: 0;
}

.intro-container{
}
.intro{
  padding: 20px 20px 20px;
  color: #ffffff;
  display: flex;
  align-items: center;    
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: space-between;
}
.backdrop{
  backdrop-filter: contrast(75%);
}
.intro-right{
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  animation: backInRight 2s;
}
.intro-left{
  padding: 20px;
  background: rgba(0,0,0,0.5);
  backdrop-filter: blur(8px);
  text-align: left;
  font-size: 2rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  flex: 1;
  margin-right: 60px;
  animation: fadeInLeft 1s;
}
.big-header{
  font-weight: bold;
  font-size: 3rem;
  flex-wrap: wrap;
}
.italic{
  font-style: italic;
}
.intro-img{
}

.read-button{
  position: relative;
  align-content: center;
  height: 100px;
  width: 400px;
  bottom: 250px;
  left: 50px;
  animation: flash 5s infinite;
}

@keyframes flash {
from,
50%,
to {
  opacity: 1;
}

25%,
75% {
  opacity: 0;
}
}

@keyframes backInRight {
  0% {
    -webkit-transform: translateX(2000px) scale(0.7);
    transform: translateX(2000px) scale(0.7);
    opacity: 0.7;
  }

  80% {
    -webkit-transform: translateX(0px) scale(0.7);
    transform: translateX(0px) scale(0.7);
    opacity: 0.7;
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
.animate__backInRight {
  -webkit-animation-name: backInRight;
  animation-name: backInRight;
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.animate__fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}