@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Raleway:wght@300;400;500&display=swap');

.App {
  text-align: center;
  font-family: 'Raleway', sans-serif;
}
a{
  color: white;
}
a:hover{
  text-decoration: none;
}

h2{
  letter-spacing: 0.2rem;
}
.link-black{
  color: #252c38 !important;
}
.background{
  background: url(./img/blackyellowmin.webp);
}
.navbar{
  background-color: rgba(31, 29, 29, 0.85) !important;
  box-shadow: 0px 0px 30px 30px rgba(0, 0, 0, 0.8);
}
.navbar-logo{
  display: inline;
}

.navbar a span{
  font-family: 'Great Vibes', cursive;
  font-weight: 400;
  font-size: 2.5rem;
  letter-spacing: 0.2rem;
  vertical-align: middle;
}
.nav-link{
  color: white !important;
  position: relative;
}
.nav-link:after{
  background-color: transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  transition: width 0.7s ease 0s, left 0.7s ease 0s;
  width: 0;
}

.nav-link:hover:after{
  background-color: white;
  width: 100%;
  left: 0;
}

.intro{
  padding: 0 20px 0;
  color: #ffffff;
  display: flex;
  align-items: center;    
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-content: space-between;
}
/*hue-rotate(204deg)*/
.backdrop{
  backdrop-filter: blur(15px) contrast(70%);
}
.intro-right{
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  animation: backInRight 2s;
}
.intro-left{
  padding: 30px;
  margin-top: 30px;
  text-align: left;
  font-size: 1.5rem;
  animation: backInLeft 1s;
  background-color: rgba(31, 29, 29, 0.85);
  border-radius: 60px;
}
.big-header{
  font-weight: bold;
  letter-spacing: 0.1rem;
  font-size: 2rem;
  flex-wrap: wrap;
}

.btn-primary {
  align-content: center;
  width: 50%;
  color: #fff;
  background-color:rgb(216, 179, 12);
  border-color: black;
}
.btn-primary:hover {
  border-color: white;
}

.italic{
  font-style: italic;
}
.intro-img{
  width: 400px;
  height: 500px;
  border-radius: 60px;
}

.read-button{
  position: relative;
  align-content: center;
  height: 80px;
  width: 350px;
  bottom: 250px;
  animation: flash 10s infinite;
}
.title{
  margin-block-start: 20px;
}
hr{
  background-color: #dfb034;
  height: 3px;
  margin-block-start: 0;
  margin-bottom: 2rem;
  width: 30%;
  border: 0;
}


/* Sponsors */
.sponsors{
  background-color: white;
}

.silver-spn{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly
}

.cards{
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.user-card{
  border: 5px blueviolet;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.user-img{
  height: 100px;
  width: 100px;
}

/* Footer */
.footer {
	padding-top: 6rem;
	padding-bottom: 3rem;
	background: linear-gradient(#ffffff, #dfb034);
	text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;    
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-content: space-between;
}
#contact{
  width: 400px;
}
.form-control{
  margin-bottom: 20px;
}

.footer a {
	text-decoration: none;
}

.footer h4 {
	margin-bottom: 1.875rem;
}

.footer .fa-stack {
	width: 2em;
	margin-bottom: 1.25rem;
	margin-right: 0.375rem;
	font-size: 1.5rem;
}

.footer .fa-stack .fa-stack-1x {
  color: #252c38;
	transition: all 0.2s ease;
}

.footer .fa-stack .fa-stack-2x {
	color: #ffffff;
	transition: all 0.2s ease;
}

.footer .fa-stack:hover .fa-stack-1x {
	color: #dfb034;
}

.footer .fa-stack:hover .fa-stack-2x {
    color: #252c38;
}

/*     Copyright     */

.copyright {
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	background-color: black;
  color: white;
	text-align: center;
}

.copyright a {
	text-decoration: none;
  color: #ffffff;
}

.menu ul{
  display: inline-flex;
}
.menu-item{
  padding: 5px 10px;
}
.row{
  margin-right: 0;
  margin-left: 0;
}



@keyframes flash {
from,
50%,
to {
  opacity: 1;
}

25%,
75% {
  opacity: 0.7;
}
}

@keyframes backInRight {
  0% {
    -webkit-transform: translateX(2000px) scale(0.7);
    transform: translateX(2000px) scale(0.7);
    opacity: 0.7;
  }

  80% {
    -webkit-transform: translateX(0px) scale(0.7);
    transform: translateX(0px) scale(0.7);
    opacity: 0.7;
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
.animate__backInRight {
  -webkit-animation-name: backInRight;
  animation-name: backInRight;
}

@keyframes backInLeft {
  0% {
    -webkit-transform: translateX(-2000px) scale(0.7);
    transform: translateX(-2000px) scale(0.7);
    opacity: 0.7;
  }

  80% {
    -webkit-transform: translateX(0px) scale(0.7);
    transform: translateX(0px) scale(0.7);
    opacity: 0.7;
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
.animate__backInLeft {
  -webkit-animation-name: backInLeft;
  animation-name: backInLeft;
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.animate__fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}


@media (max-width: 450px) {
  .intro-img{
    width: 70vw;
  }
  .read-button{
    width: 60vw;
    left: calc(60vw - 37);
  }
}

#posts{
  display: flex;
  flex-direction: column;
  align-items: center;    
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-content: center;
}
.post-list{
  display: flex;
  flex-direction: row;
  align-items: center;    
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-content: space-between;
  position: relative;
}
.post-item{
  margin-right: 60px;
  margin-left: 60px;
}

.post-desc {
  background-color: black;
  padding: 10px 10px;
  overflow: hidden;
}

.about{
  padding: 60px;
}
h5{
  text-align: left;
  line-height: 2rem;
}